@use 'variables' as v;

.slideshow-container {
  width: 100%;
  height: 415px;
  position: relative;
}

.slideshow-item {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 25px;
}

.slideshow-nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  img {
    cursor: pointer;
  }
  .counter {
    align-self: last baseline;
    color: #fff;
    margin-bottom: 15px;
  }
}

.accomodation-title {
  font-size: 36px;
  color: v.$main-color;
  font-weight: 500;
}

.accomodation-location {
  font-size: 18px;
  color: v.$main-color;
  font-weight: 500;
  margin-top: 5px;
}

.tags-list {
  margin-top: 25px;
  list-style: none;
  padding: 0;
  display: flex;
  gap: 10px;
}

.tags {
  display: inline-block;
  line-height: 25px;
  border-radius: 10px;
  background-color: v.$main-color;
  padding: 0 20px;
  color: #fff;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 300;
}

.infos {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  gap: 80px;
}

.host-and-rating {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.host-infos {
  display: flex;
  align-items: center;
  gap: 10px;
}

.host-name {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  color: v.$main-color;
  text-align: right;
  max-width: 90px;
}

.host-picture {
  border-radius: 50%;
}

.rating {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.desc-and-equipments {
  display: flex;
  gap: 75px;
}

.desc-and-equipments > * {
  flex: 1 1 45%;
}

.star {
  width: 26px;
  height: 26px;
}

.star-active {
  fill: #ff6060;
}

.star-inactive {
  fill: #e3e3e3;
}

@media (max-width: 768px) {
  .slideshow-container {
    width: 100%;
    height: unset;
    aspect-ratio: 2/1.5;
  }
  .slideshow-nav {
    padding: 10px;
  }
  .slideshow-nav img {
    width: 24px;
    height: 24px;
  }
  .slideshow-nav .counter {
    display: none;
  }
  .infos {
    margin-top: 5px;
    flex-direction: column;
  }
  .accomodation-title {
    font-size: 18px;
  }
  .accomodation-location {
    font-size: 14px;
  }
  .tags-list {
    flex-wrap: wrap;
  }
  .tags {
    font-size: 10px;
    line-height: 20px;
    border-radius: 5px;
    flex-wrap: wrap;
  }
  .infos {
    gap: 20px;
  }
  .host-and-rating {
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }
  .rating {
    gap: 7px;
    margin-bottom: 0px;
  }
  .star {
    width: 16px;
    height: 16px;
  }
  .host-infos {
    justify-content: flex-end;
    align-items: center;
  }
  .host-name {
    font-size: 12px;
    max-width: 40%;
    text-align: right;
  }
  .host-picture {
    width: 32px;
    height: 32px;
  }
  .desc-and-equipments {
    flex-direction: column;
    gap: 0px;
  }
}
