@use 'variables' as v;

.collapse-container {
  margin-top: 30px;
}

.collapse-head {
  position: relative;
  background-color: v.$main-color;
  border-radius: 10px;
  padding: 10px 20px 10px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}

.collapse-title {
  color: #fff;
}

.collapse-content {
  background-color: v.$light-background;
  color: v.$main-color;
  line-height: 1.5em;
  font-weight: 400;
  padding: 0 20px;
  overflow: hidden;
  transition: all 0.2s linear;
  transform-origin: top center;
  padding: 20px;
  margin-top: -10px;
}

.arrow {
  transition: all 0.2s linear;
  cursor: pointer;
}

@media (max-width: 768px) {
  .collapse-container {
    margin-top: 20px;
  }
  .collapse-title {
    font-size: 13px;
  }
  .collapse-head img {
    width: 20px;
    height: 20px;
  }
  .collapse-content {
    font-size: 12px;
  }
}
