@use 'variables' as v;

.footer {
  display: flex;
  flex-direction: column;
  margin-top: auto;
  width: 100%;
  background-color: v.$footer-color;
  padding: 60px 0 30px;
  align-items: center;
  gap: 40px;
}

.footer img {
  opacity: 0.99;
}

.footer-text {
  color: #ffffff;
  font-size: 24px;
  font-family: 'Montserrat', sans-serif;
}
