@use 'variables' as v;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');

* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  width: 90%;
  margin: 0px auto 40px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
}

ul {
  padding: 0px;
  list-style: none;
}

.about-container {
  margin: 0 auto;
  max-width: 90%;
}

@media (max-width: 768px) {
  .about-container {
    max-width: 100%;
  }
}
