@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
  margin: 0;
  box-sizing: border-box;
  --light-background: #f6f6f6;
  --main-color: #ff6060;
  --footer-color: #000;
}

.container {
  width: 90%;
  margin: 0px auto;
}
